<template>
    <div class="logout">
        <button class="uk-button uk-button-primary" @click="logout()">Выход</button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    methods: {
        logout() {
            this.$store.commit('setToken', '')
            this.$router.push('/login')
        }
    }
})
</script>

<style scoped>
.logout {
    position: absolute;
    top: 19px;
    right: 19px;
}
</style>
