<template>
    <nav class="uk-navbar-container">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li :class="{'uk-active': ['/admin', '/admin/'].includes($route.path)}"><nuxt-link to="/admin">Курсы</nuxt-link></li>
                <li :class="{'uk-active': ['/admin/partners', '/admin/partners/'].includes($route.path)}"><nuxt-link to="/admin/partners">Партнеры</nuxt-link></li>
            </ul>
        </div>
    </nav>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
