<template>
    <main class="uk-container">
        <form class="uk-margin-top" @submit.prevent="save()">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Создание партнера</legend>

                <div class="uk-margin">
                    <input class="uk-input" type="text" v-model="name" placeholder="Имя">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="email" minlength="8" v-model="email" placeholder="Электронная почта">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="password" v-model="password" placeholder="Пароль">
                </div>

                <div class="uk-margin">
                    <button class="uk-button uk-button-primary">Сохранить</button>
                    <nuxt-link class="uk-button uk-button-secondary" to="/admin/partners">Отмена</nuxt-link>
                </div>
            </fieldset>
        </form>
    </main>
</template>

<script lang="ts">
import Vue from 'vue'
import NavbarAdmin from '~/components/NavbarAdmin.vue'
import LogoutButton from '~/components/LogoutButton.vue'
import {Context} from '@nuxt/types'

export default Vue.extend({
    data() {
        return {
            name: '',
            email: '',
            password: ''
        }
    },
    methods: {
        async save() {
            if (this.name.length === 0 || this.email.length === 0 || this.password.length === 0) return alert('Заполните все поля!')
            try {
                await this.$axios.$post('/partners', {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                }, {headers: {authorization: this.$store.state.localStorage.token}})
                await this.$router.push('/admin/partners')
            } catch (err: any) {
                alert(err.response.data.message)
            }
        }
    }
})
</script>

<style scoped>
.image {
    display: block;
    width: 250px;
    height: 250px;
    background-color: lightgray;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
</style>
