<template>
    <div/>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    mounted() {
        if (this.$store.state.localStorage.token) this.$router.replace('/admin')
        else this.$router.replace('/login')
    }
})
</script>
