<template>
    <main class="uk-container">
        <form class="uk-margin-top" @submit.prevent="auth()">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Авторизация</legend>

                <div class="uk-margin">
                    <input class="uk-input" type="email" v-model="login" placeholder="Электронная почта">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="password" v-model="password" placeholder="Пароль">
                </div>

                <div class="uk-margin">
                    <button class="uk-button uk-button-primary">Войти</button>
                </div>
            </fieldset>
        </form>
    </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data() {
        return {
            login: '',
            password: ''
        }
    },
    methods: {
        async auth() {
            try {
                const data = await this.$axios.$post('/auth/login', {
                    email: this.login,
                    password: this.password
                }, {})
                this.$store.commit('localStorage/setToken', data.token)
                if (data.type === 'admin')
                    await this.$router.push('/admin')
                if (data.type === 'partner')
                    await this.$router.push('/partner')
            } catch (err: any) {
                alert('Неверный логин или пароль')
            }
        }
    }
})
</script>
