<template>
    <main class="uk-container">
        <form class="uk-margin-top" @submit.prevent="register()">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Регистрация партнера</legend>

                <div class="uk-margin">
                    <input class="uk-input" type="text" v-model="name" placeholder="Имя">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="email" minlength="8" v-model="email" placeholder="Электронная почта">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="password" v-model="password" placeholder="Пароль">
                </div>

                <div class="uk-margin">
                    <button class="uk-button uk-button-primary">Регистрация</button>
                </div>
            </fieldset>
        </form>
    </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data() {
        return {
            name: '',
            email: '',
            password: ''
        }
    },
    methods: {
        async register() {
            try {
                const data = await this.$axios.$post('/auth/register', {
                    name: this.name,
                    email: this.email,
                    password: this.password
                }, {})
                this.$store.commit('localStorage/setToken', data.token)
                await this.$router.push('/partner')
            } catch (err: any) {
                alert(err.response.data.message)
            }
        }
    }
})
</script>
