<template>
    <main class="uk-container">
        <form class="uk-margin-top" @submit.prevent="save()">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Изменение курса</legend>

                <div class="uk-margin">
                    <input class="uk-input" type="text" v-model="title" placeholder="Название">
                </div>

                <div class="uk-margin">
                    <textarea class="uk-textarea" rows="5" v-model="description" placeholder="Описание"></textarea>
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="url" v-model="url" placeholder="Ссылка на лендинг">
                </div>

                <div class="uk-margin">
                    <select class="uk-select" v-model="category">
                        <option value="null">Без категории</option>
                        <option v-for="cat in categories" :value="cat.id">{{ cat.title }}</option>
                    </select>
                </div>

                <div class="uk-margin">
                    <div class="image" :style="image ? {backgroundImage: 'url(' + $config.baseUrl + '/images/' + image + ')'} : {}"></div>
                    <input type="file" style="display: none" ref="imageSelect" @change="uploadImage()" >
                    <button class="uk-button uk-button-default uk-margin-top" type="button" @click="$refs.imageSelect.click()">Выберите файл изображения</button>
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="number" v-model="price" placeholder="Цена">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="number" v-model="sale_price" placeholder="Цена со скидкой">
                </div>

                <div class="uk-margin">
                    <button class="uk-button uk-button-primary">Сохранить</button>
                    <nuxt-link class="uk-button uk-button-secondary" to="/admin">Отмена</nuxt-link>
                </div>
            </fieldset>
        </form>
    </main>
</template>

<script lang="ts">
import Vue from 'vue'
import NavbarAdmin from '~/components/NavbarAdmin.vue'
import LogoutButton from '~/components/LogoutButton.vue'
import {Context} from '@nuxt/types'

export default Vue.extend({
    data() {
        return {
            title: '',
            description: '',
            url: '',
            category: 'null',
            image: '',
            price: 1,
            sale_price: 1
        }
    },
    async asyncData(ctx: Context) {
        try {
            return {
                categories: (await ctx.$axios.$get('/categories', {headers: {authorization: ctx.store.state.localStorage.token}})).categories,
                course: await ctx.$axios.$get('/courses/' + ctx.route.params.id, {headers: {authorization: ctx.store.state.localStorage.token}})
            }
        } catch (err: any) {
            ctx.redirect('/login')
        }
    },
    mounted() {
        // @ts-ignore
        this.title = this.course.title
        // @ts-ignore
        this.description = this.course.description
        // @ts-ignore
        this.url = this.course.url
        // @ts-ignore
        this.category = this.course.category ? this.course.category.id : 'null'
        // @ts-ignore
        this.image = this.course.image ? this.course.image : ''
        // @ts-ignore
        this.price = this.course.price
        // @ts-ignore
        this.sale_price = this.course.sale_price
    },
    methods: {
        async uploadImage() {
            if (!this.$refs.imageSelect || !(this.$refs.imageSelect instanceof HTMLInputElement) || !this.$refs.imageSelect.files || !this.$refs.imageSelect.files[0]) return
            const file = this.$refs.imageSelect.files[0]
            try {
                const data = await this.$axios.$post('/images', file, {headers: {authorization: this.$store.state.localStorage.token, "content-type": file.type}})
                this.image = data.id
            } catch (err: any) {
                alert(err.response.data.message)
            }
        },
        async save() {
            if (this.title.length === 0 || this.description.length === 0 || this.url.length === 0 || !this.price || !this.sale_price) return alert('Заполните все поля!')
            try {
                await this.$axios.patch('/courses/' + this.$route.params.id, {
                    title: this.title,
                    description: this.description,
                    url: this.url,
                    category: this.category !== 'null' ? this.category : null,
                    image: this.image !== '' ? this.image : null,
                    price: this.price,
                    sale_price: this.sale_price,
                }, {headers: {authorization: this.$store.state.localStorage.token}})
                await this.$router.push('/admin')
            } catch (err: any) {
                alert(err.response.data.message)
            }
        }
    }
})
</script>

<style scoped>
.image {
    display: block;
    width: 250px;
    height: 250px;
    background-color: lightgray;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
</style>
