<template>
    <div>
        <LogoutButton/>
        <NavbarAdmin/>
        <main class="uk-container uk-margin-top">
            <div v-for="course in courses">
                <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light uk-margin-top course">
                    <div class="course-card">
                        <h3 class="uk-card-title uk-margin-small-bottom">{{ course.title }}</h3>
                        <span class="uk-text-muted">{{ course.category ? course.category.title : 'Без категории' }}</span>
                        <p class="uk-margin-small-top">{{ course.description }}</p>
                        <h4 class="uk-margin-small-top">Продажи: {{ course.sells }}</h4>
                    </div>
                    <div class="image" :style="course.image ? {backgroundImage: 'url(' + $config.baseUrl + '/images/' + course.image + ')'} : {}"></div>
                </div>
            </div>
        </main>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import NavbarAdmin from '~/components/NavbarAdmin.vue'
import LogoutButton from '~/components/LogoutButton.vue'
import {Context} from '@nuxt/types'

export default Vue.extend({
    components: {LogoutButton, NavbarAdmin},
    async asyncData(ctx: Context) {
        try {
            const data = await ctx.$axios.$get('/partners/' + ctx.route.params.id + '/courses', {headers: {authorization: ctx.store.state.localStorage.token}})
            return { courses: data.courses }
        } catch (err: any) {
            ctx.redirect('/login')
        }
    }
})
</script>

<style scoped>
.course {
    display: flex;
}
.image {
    display: block;
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
.course-card {
    width: calc(100% - 200px);
}
</style>
