<template>
    <div>
        <LogoutButton/>
        <NavbarAdmin/>
        <main class="uk-container uk-margin-top">
            <nuxt-link class="uk-button uk-button-primary" to="/admin/new-partner">Создать партнера</nuxt-link>
            <div v-for="partner in partners">
                <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light uk-margin-top course">
                    <h3 class="uk-card-title uk-margin-small-bottom">{{ partner.name }}</h3>
                    <span class="uk-text-muted">{{ partner.email }}</span>
                    <p class="uk-margin-small-top">Продажи: {{ partner.sells }}</p>
                    <nuxt-link class="uk-button uk-button-primary" :to="'/admin/partners/' + partner.id">Продажи</nuxt-link>
                    <button class="uk-button uk-button-danger" @click="remove(partner.id, partner.name)">Удалить</button>
                </div>
            </div>
        </main>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import NavbarAdmin from '~/components/NavbarAdmin.vue'
import LogoutButton from '~/components/LogoutButton.vue'
import {Context} from '@nuxt/types'

export default Vue.extend({
    components: {LogoutButton, NavbarAdmin},
    async asyncData(ctx: Context) {
        try {
            const data = await ctx.$axios.$get('/partners', {headers: {authorization: ctx.store.state.localStorage.token}})
            return { partners: data.partners }
        } catch (err: any) {
            ctx.redirect('/login')
        }
    },
    methods: {
        async remove(id: string, name: string) {
            if (!confirm('Удалить партнера "' + name + '"?')) return
            await this.$axios.delete('/partners/' + id, {headers: {authorization: this.$store.state.localStorage.token}})
            const data = await this.$axios.$get('/partners', {headers: {authorization: this.$store.state.localStorage.token}})
            // @ts-ignore
            this.partners = data.partners
        }
    }
})
</script>
